@import url("./font.css");
@import "tailwindcss";

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-top: 1rem;
    margin-left: 1rem;
}

.piece.white {
    color: rgb(164, 164, 164);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
    color: black;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    /* background-color: #f0d9b5; */
    /* background-color: #161B22; */
    background-color: #2c3644;
}

.square.dark {
    /* background-color: #b58863; */
    /* background-color:#0D1117 ; */
    background-color:#1d2633 ;
}

.piece {
    cursor: pointer;
    user-select: none;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

/* Rotate pieces for black player */
.flipped .piece {
    transform: rotate(180deg);
}

.history::-webkit-scrollbar {
    height: 3px;
}

.history:hover::-webkit-scrollbar {
    height: 6px;
    transition: height 5s;
}

.history::-webkit-scrollbar-thumb {
    background: #666; /* Scrollbar color */
    border-radius: 10px;
}
.history::-webkit-scrollbar-track {
    background: transparent; /* Hide track */
}

@keyframes decrease {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

.focused:hover{
    background-color: #0c7b72;
}
.nonfocused:hover{
    background-color: #090c11;
}